body {
	padding-top: 3em;
	background-color: #fdf7f5;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 10px;
	min-height: 100vh;
	text-transform: uppercase;
}
main {
	margin: auto;
	max-width: 900px;
	padding: 0 20px;
}
header {
	max-width: 400px;
	margin: auto;
	grid-column: 1 / span 2;
}
header p {
	margin-bottom: 0;
}
article {
	background-color: white;
	border: 1px solid green;
	outline: 8px solid white;
	box-shadow: 0 0 30px gray;
	padding: 0 1em;
	margin: 3em 0 4em;
}
h1 {
	margin: 0;
}
h2 {
	margin: 1em 0 0;
}
h2 img {
	height: 1.4em;
}
a {
	text-decoration: none;
}
.btn {
	padding: 1em 2em;
	display: inline-block;
	margin: 0.6em 0 1.8em;
}
a[href^="tel"] {
	font-size: 1.2em;
	position: relative;
	bottom: 0.2em;
}
a:not(.btn) {
	font-weight: bold;
}

@media (min-width: 768px) {
	body {
		display: flex;
		align-content: center;
		justify-content: center;
		padding-top: 0;
	}
	main {
		display: grid;
		grid: repeat(2, minmax(min-content, min-content)) / repeat(2, 2fr);
		grid-gap: 50px 70px;
	}
	article {
		margin: 0;
	}
}


body {
	color: #595a5c;
}
article {
	border-color: #99a51b;
}
.btn {
	color: white;
	background-color: #515f6f;
}
a {
	color: #99a51b;
}

body {
	font-family: 'Bentham', serif;
	letter-spacing: 0.15em;
	word-spacing: 0.2em;
}
header p {
	line-height: 1.5;
}
article p {
	font-size: 0.8em;
	line-height: 1.5;
}
.btn {
	font-family: sans-serif;
	font-size: 0.85em;
}
